@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
    --primary-color: #FFCDC9;
    --secondary-color: #FD7979;
    --color-accent: #ffffff;
    --color-light: gray;
    --trinary-color: white;

    background-color: var(--primary-color);
/*     background-image: linear-gradient(45deg, white 25%, transparent 25.5%, transparent 50%, white 50.5%, white 75%, transparent 75.5%, transparent); */
    background-size: 20px 20px;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  serif;
    margin: 0;
}

.page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


form h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

form {
    max-width: 300px;
}

input[type=text], select {
    padding: 7px;
    border-radius: 7px;
}

label:has(input[type=radio]){
	margin: 5px;
}

label:has(input[type=radio]):last-of-type {
    margin-bottom: 20px;
}

label::after{
    content: "\a";
    white-space: pre;
}

input:required+label:after{
    color: var(--secondary-color);
    content: '*'
}

form>div {
    display: flex;
    /*justify-content: space-between;*/
    flex-flow: row;
    margin-bottom: 20px;
}

form .error{
    color: var(--secondary-color);
    display: block;
}

form .invalid {
    border: 2px solid var(--secondary-color);
}

button {
    background-color: deepskyblue;
    color: var(--trinary-color);
    padding: 10px;
    width: 100%;
    font-size: 1.5em;
    border: none;
    border-radius: 7px;
}

#santa-list {
    position: relative;
}

button {
	margin-top: 20px;
}

button:hover {
    cursor: pointer;
    box-shadow: #666 2px 2px 3px;
}

button:active {
    box-shadow: #666 0 0 3px;
}
.hidden {
    display: none;
}

.list {
    font-size: 1.3em;
}

.list .child {
    display: flex;
}

.list .child .name {
    flex-grow: 1;
}

.list .child .disposition {
    margin-right: 20px;
}

.white-box {
    background-color: var(--trinary-color);
    padding: 50px;
    border-radius: 7px;
}

.list-header {
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    align-items: center;
}

.list-header form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.list-header h2 {
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    margin: 20px 0 0 0;

}

button.delete {
    padding: 2px 6px;
    font-size: .8em;
}

/* https://codepen.io/nicolasjesenberger/pen/QWYZEWZ */
.button-hat {
    position: absolute;
    top: -15px;
    left: -17px;
    height: 44px;
    filter: drop-shadow(0 2px 1px rgb(0 0 0 / .25));
}
.checked {
    text-decoration: line-through;

}
.checked-off {
    background-color: orangered;
    padding: 2px;
    font-size: 1em;

}
.item {
    background-color: var(--trinary-color);
    padding: 20px;
    border-radius: 7px;
}
p {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
}

#gym-members {
    width: 100%;
    border-collapse: collapse;
}

#gym-members tr:first-of-type th {
    border-bottom: 2px solid var(--color-accent);
    padding-bottom: 5px;
    cursor: pointer;
}

#gym-members tr:not(:first-of-type):nth-of-type(2n) {
    background-color: rgba(255,255,255,.5);
}

#gym-members tr:not(:first-of-type):nth-of-type(2n + 1) {
    background-color: rgba(255,255,255,.25);
}

#gym-members tr:not(:first-of-type):hover {
    background-color: var(--color-accent);
    color: var(--color-light);
}

#gym-members td {
    padding: 7.5px 15px;
}

#gym-members td.center {
    text-align: center;
}

#gym-members td:not(:last-of-type) {
    border-right: 1px solid rgba(255,255,255,1)
}

#gym-members i.clickable {
    cursor: pointer;
}

#gym-members i.clickable:hover {
    color: lightgray;
}
#gym-add-member {
    background-color: white;
    padding: 5px
}
#gym-add-member:hover {
    background-color: gray;
}